*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.row{
	margin: auto;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
}

a{
	text-decoration: none;
	color: black;
}


h3.title-block{
	color: white;
}

.title-more{
	width: 100%;
	background-color: #f59c0c;
	padding: 10px 5px;
	margin: 15px 0;
	position: relative;
	border-radius: 5px;
}

.btn{
	padding: 5px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s ease;
}

.title-more .btn-more {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%); 
    background-color: #FFE14C;
}

.btn:hover{
	scale: 1.05;
}
